<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="stylesheet" href="/styles/style.css">
    <title>MVC-Tech-Blog</title>

</head>
<body> 
   
    <header id="navbar">
      
        <h1 id="navHeader">Luke's Tech Blog</h1>
          <div class ="navbar-links">
            <p><a class="destroy-decoration" href="/">Home</a></p>
            <p>Dashboard</p>
            <p class = "signupLink"> <a class="destroy-decoration" href="/signup"> Sign up</a></p>
            <p class = "loginLink"><a class="destroy-decoration" href="/login"> Login</a></p>
            <p class = "logoutLink"> Logout</p>
           
        </div>
    </header>



    <div>
{{{ body }}}
</div>
</body>

</html>