<div id="post-box" class="">
<div id="post-topic-background">
    <h3 id="post-subject-text">The Post Subject</h3>
    </div>
    <p id="post-content">The post content Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ullam unde magnam nostrum facilis aspernatur. Voluptatibus, id nisi assumenda voluptates suscipit quae perspiciatis ratione soluta doloremque, itaque, recusandae hic ex!</p>
</div>