<div id="post-box" class="">       
<div>
    <form class="login-form"action="">
        <div id="post-topic-background">
   
   
        <h1 id="post-subject-text">Login Here!</h1>
         </div>
        <h2 class="signup-login-text">Username:</h2>
    <input id="usernameInputElement" class ="signup-login-input">
    <h2 class="signup-login-text">Password:</h2>
    <input id="passwordInputElement" class ="signup-login-input">
     <button type="submit" id="signup-button">Login</button>
    </form>
    
</div>
</div> 
 
<div id="post-box" class="">       
<div>
    <form class="login-form" action="">
        <div id="post-topic-background">
   
   
        <h1 id="post-subject-text">Sign up here!</h1>
         </div>
        <h2 class="signup-login-text">Username:</h2>
    <input id="name-signup" class ="signup-login-input">
    <h2 class="signup-login-text">Password:</h2>
    <input id="password-signup" class ="signup-login-input">
     <button type="submit" id="signup-button">Sign up</button>
    </form>
    
</div>
</div> 

  <script src="../public/styles/js/login.js"></script>