


 
<div id="post-box" class="">       
<div>
    <form action="">
        <div id="post-topic-background">
   
   
        <h1 id="post-subject-text">Enter your username & password below to sign in.</h1>
         </div>
        <h2 class="signup-login-text">Username:</h2>
    <input class ="signup-login-input">
    <h2 class="signup-login-text">Password:</h2>
    <input class ="signup-login-input">
     <button id="signup-button">Login</button>
    </form>
    
</div>
</div> 
  <div class="login-instead-button-flexbox">
    <button id="login-instead-button"><a class="destroy-decoration"href="/signup">Sign up instead</a></button>
  </div>